
<input type="text" [(ngModel)]="Fname" name="Fname" placeholder="Firstname"><br>
<input type="text" [(ngModel)]="Lname" name="Lname" placeholder="Lastname"> <br>
<input type="text" [(ngModel)]="address" name="address" placeholder="Address"> <br>
<input type="text" [(ngModel)]="email" name="email" placeholder="Email"> <br>
<input type="text" [(ngModel)]="mobile" name="mobile" placeholder="Mobile"> <br>
<input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone "> <br>
<input type="submit" value="Add a contact" (click)="addContact()">


<ul *ngFor="let post of clist | async">
  <li (click)="getContact(clist.id)">
    <strong>{{ post.data.Fname}}</strong>(<a href="#" (click)="deletePost(clist.id)">delete</a>)
    <strong>{{ post.data.Lname}}</strong> (<a href="#" (click)="deletePost(clist.id)">delete</a>)
    <strong>{{ post.data.address}}</strong>(<a href="#" (click)="deletePost(clist.id)">delete</a>)
    <strong>{{ post.data.email}}</strong>(<a href="#" (click)="deletePost(clist.id)">delete</a>)
    <strong>{{ post.data.mobile}}</strong>(<a href="#" (click)="deletePost(clist.id)">delete</a>)
    <strong>{{ post.data.phone}}</strong>(<a href="#" (click)="deletePost(clist.id)">delete</a>)
    <br>
  </li>
</ul>

<h1>A specific contact: </h1>


