<div class = "container">
  <div class = "left">
<input type="text" [(ngModel)]="Fname" name="Fname" placeholder="Firstname"><br>
<input type="text" [(ngModel)]="Lname" name="Lname" placeholder="Lastname"> <br>
<input type="text" [(ngModel)]="address" name="address" placeholder="Address"> <br>
<input type="text" [(ngModel)]="email" name="email" placeholder="Email"> <br>
<input type="text" [(ngModel)]="mobile" name="mobile" placeholder="Mobile"> <br>
<input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone "> <br>
<input type="submit" value="Add a contact" (click)="addContact()">
    </div>

  <div class = "right">
<ul *ngFor="let post of clist | async">
  <li (click)="getContact(clist.id)">
    <strong>{{ post.data.Fname}}</strong>(<a href="#" (click)="deleteContact(clist.id)">delete</a>) <br>
    <strong>{{ post.data.Lname}}</strong> (<a href="#" (click)="deleteContact(clist.id)">delete</a>) <br>
    <strong>{{ post.data.address}}</strong>(<a href="#" (click)="deleteContact(clist.id)">delete</a>) <br>
    <strong>{{ post.data.email}}</strong>(<a href="#" (click)="deleteContact(clist.id)">delete</a>) <br>
    <strong>{{ post.data.mobile}}</strong>(<a href="#" (click)="deleteContact(clist.id)">delete</a>) <br>
    <strong>{{ post.data.phone}}</strong>(<a href="#" (click)="deleteContact(clist.id)">delete</a>) <br>
    <br>
  </li>
</ul>


<h1>A specific contact: </h1>
<h3>{{ (clistO | async)?.Fname }}</h3>
<h3>{{ (clistO | async)?.Lname }}</h3>
<h3>{{ (clistO | async)?.address }}</h3>
<h3>{{ (clistO | async)?.email }}</h3>
<h3>{{ (clistO | async)?.mobile }}</h3>
<h3>{{ (clistO | async)?.phone }}</h3>
</div>
</div>
